*{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}


body{
    height: 100vh;
    display: flex;
}

.imagenes{
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
}

.imagenes img{
    height: 400px;
    width: 400px;
    margin: 3px;
}