* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    display: flex;
}

nav {
    display: flex;
    justify-content: flex-start;
}


ul {
    list-style: none;
    display: flex;
    flex-direction: column;
}

li {
    margin: 7px;
    padding:40px 100px 40px 10px;
    background-color: #dddddd;
    color: black;
    text-decoration: none;
    display: flex;
    justify-content: space-between;

}

p{
    display: flex;
    align-items: center;
    margin-right: 400px;
}


button {
    background-color: white;
    border-style: none;
    padding: 10px;
    justify-self: flex-end;


}

button:hover{
    background-color: rgb(229, 190, 190);
}
